@use "sass:math";

@import "_mixins.scss";
@import "_reset.scss";
@import "_common.scss";

body {
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
}

.list {
	font-size: 20.5px;
}

.block {
}

.list {
	padding-bottom: rem(50);
	margin-bottom: rem(50);
}
