@use "sass:math";
@import "_reset";
@import "_common";
@import url("https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");

body {
	font-family: "Oswald", sans-serif;
	color: #000000;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	& > main {
		flex-grow: 1;
	}
}
[class*="__container"] {
	max-width: 1878+30px;
	padding: 0 15px;
	margin: 0 auto;
}
.page {
	padding: 50px 0 0;
	@media (max-width: 767.98px) {
		& {
			padding: 30px 0;
		}
	}
	// .page__brends
	&__brends {
		&:not(:last-child) {
			margin-bottom: 30px;
			@media (max-width: 650px) {
				& {
					margin-bottom: 20px;
				}
			}
		}
	}
	// .page__banners
	&__banners {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	// .page__catalog
	&__catalog {
		&:not(:last-child) {
			margin-bottom: 65px;
			@media (max-width: 991.98px) {
				& {
					margin-bottom: 40px;
				}
			}
			@media (max-width: 768.98px) {
				& {
					margin-bottom: 25px;
				}
			}
		}
	}
	// .page__divider
	&__divider {
		&:not(:last-child) {
			margin-bottom: 67px;
			@media (max-width: 991.98px) {
				& {
					margin-bottom: 30px;
				}
			}
			@media (max-width: 767.98px) {
				& {
					margin-bottom: 25px;
				}
			}
		}
	}
	// .page__products
	&__products {
		&:not(:last-child) {
			margin-bottom: 79px;
			@media (max-width: 991.98px) {
				& {
					margin-bottom: 50px;
				}
			}
		}
		&_margin-bottom:not(:last-child) {
			margin-bottom: 118px;
			@media (max-width: 991.98px) {
				& {
					margin-bottom: 50px;
				}
			}
			@media (max-width: 500px) {
				& {
					& {
						margin-bottom: 30px;
					}
				}
			}
		}
	}
	// .page__explore
	&__explore {
		&:not(:last-child) {
			margin-bottom: 82px;
		}
		@media (max-width: 991.98px) {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
	}
	// .page__blog
	&__blog {
		&:not(:last-child) {
			margin-bottom: 50px;
		}
	}
}
.brends {
	// .brends__container
	&__container {
	}
	//.brends__title
	&__title {
		text-align: center;
		font-size: 24px;
		line-height: 1;
		text-transform: uppercase;
		width: 370px;
		line-height: 1.88;
		@media (max-width: 767.98px) {
			& {
				font-size: 18px;
			}
		}
		@media (max-width: 460px) {
			& {
				display: none;
			}
		}
	}
	// .brends__fieldset
	&__fieldset {
		border: 2px solid #c4c4c4;
		padding: 6px 12px 30px 12px;
		@media (max-width: 1450px) {
			& {
				padding-bottom: 5px;
			}
		}
		@media (max-width: 720px) {
			& {
				padding: 5px;
			}
		}
		@media (max-width: 460px) {
			& {
				border: 0px solid #c4c4c4;
			}
		}
	}
	// .brends__list
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
		gap: 10px 35px;
		@media (max-width: 1450px) {
			& {
				grid-template-columns: repeat(4, 1fr);
			}
		}
		@media (max-width: 1200px) {
			& {
				gap: 10px 15px;
			}
		}
		@media (max-width: 650px) {
			& {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
	// .brends__item
	&__item {
	}
	// .brends__link
	&__link {
		display: inline-block;
		height: 100%;
		width: 100%;
		transition: background-color 300ms;
		position: relative;
		padding-top: 60%; /* 141/235 */
		@media (max-width: 650px) {
			& {
				padding-top: 50px;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #f0f2f2;
			}
		}
		@media (max-width: 460px) {
			& {
				border: 2px solid #c4c4c4;
			}
		}
		img {
			padding: 30px 20px;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: contain;
			// !!!!!!!!!!!!!!
			@media (max-width: 1510px) {
				& {
					padding: 15px;
				}
			}
			@media (max-width: 1450px) {
				& {
					padding: 22% 45px;
				}
			}
			@media (max-width: 1070px) {
				& {
					padding: 21% 30px;
				}
			}
			@media (max-width: 750px) {
				& {
					padding: 20% 20px;
				}
			}
			@media (max-width: 650px) {
				& {
					max-height: 50px;
					padding: 10px 60px;
				}
			}
			@media (max-width: 520px) {
				& {
					padding: 10px 40px;
				}
			}
			@media (max-width: 460px) {
				& {
					padding: 10px 15px;
				}
			}
		}
	}
}
.button {
	display: inline-block;
	border: 2px solid #000000;
	padding: 14px 38px;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition: all 300ms;
	@media (any-hover: hover) {
		&:hover {
			color: #eb5757;
			border-color: #eb5757;
		}
	}
	@media (max-width: 991.98px) {
		& {
			padding: 10px 15px;
			font-size: 16px;
		}
	}
	@media (max-width: 520px) {
		& {
			font-size: 15px;
			line-height: 1.1;
		}
	}
}
.button-load-more {
	align-self: center;
	border: 2px solid #c4c4c4;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #828282;
	padding: 15px 30px;
	transition: all 300ms;
	@media (any-hover: hover) {
		&:hover {
			border: 2px solid #000;
			color: #000;
		}
	}
	@media (max-width: 767.98px) {
		& {
			align-self: stretch;
		}
	}
	@media (max-width: 515px) {
		& {
			padding: 10px 20px;
		}
	}
}
.banners {
	// .banners__container
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		@media (max-width: 991.92px) {
			& {
				gap: 15px;
			}
		}
		@media (max-width: 746px) {
			& {
				grid-template-columns: repeat(1, 1fr);
				grid-auto-rows: 1fr;
			}
		}
	}
	// ====================== //
	.item-banners {
		position: relative;
		overflow: hidden;
		// .item-banners__content
		&__content {
			width: 100%;
			display: flex;
		}
		// .item-banners__body
		&__body {
			position: relative;
			z-index: 1;
			max-width: 369px;
			& > *:not(:last-child) {
				margin-bottom: 20px;
			}
			@media (max-width: 1080px) {
				& {
					max-width: 210px;
				}
			}
			@media (max-width: 1080px) {
				& {
					max-width: 170px;
				}
			}
		}
		// .item-banners__title
		&__title {
			font-weight: 600;
			font-size: 48px;
			line-height: 1.29;
			text-transform: uppercase;
			&:not(:last-child) {
				margin-bottom: 7px;
			}
			@media (max-width: 1300px) {
				& {
					font-size: 36px;
				}
			}
			@media (max-width: 1080px) {
				& {
					font-size: 28px;
				}
			}
			@media (max-width: 390px) {
				& {
					font-size: 24px;
				}
			}
		}
		// .item-banners__subitle
		&__subitle {
			font-family: "Roboto", sans-serif;
			font-size: 22px;
			line-height: 1.68;
			letter-spacing: 0.01em;
			&:not(:last-child) {
				margin-bottom: 51px;
			}
			@media (max-width: 1275px) {
				& {
					font-size: 20px;
				}
			}
			@media (max-width: 991.92px) {
				& {
					&:not(:last-child) {
						margin-bottom: 15px;
					}
				}
			}
			@media (max-width: 746px) {
				& {
					&:not(:last-child) {
						margin-bottom: 25px;
					}
				}
			}
			@media (max-width: 390px) {
				& {
					font-size: 18px;
					&:not(:last-child) {
						margin-bottom: 15px;
					}
				}
			}
		}
		// .item-banners__link-button
		&__link-button {
		}
		// .item-banners__background
		&__background {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			padding-top: 46.969697%; /* 434/924 */
			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
				transition: all 1s;
				transform: scale(1);
				transform-origin: left;
			}
		}
	}
	// ====================== //

	// .banners__item
	&__item {
		// .banners__item_right-text
		&_right-text {
			.item-banners__content {
				justify-content: flex-end;
				padding: 8.658009% 6.926407% 8.658009% 0;
				// 8.658009% // 80/924
				// 6.926407% // 64/924
				@media (max-width: 1635px) {
					& {
						padding-left: 10px;
					}
				}
				@media (max-width: 1020px) {
					& {
						padding-right: 10px;
					}
				}
				.item-banners__body {
					@media (max-width: 991.92px) {
						& {
							max-width: 170px;
						}
					}
					@media (max-width: 746px) {
						& {
							max-width: 220px;
						}
					}
					@media (max-width: 470px) {
						& {
							max-width: 160px;
						}
					}
					@media (max-width: 360px) {
						& {
							max-width: 140px;
						}
					}
				}
				.item-banners__background {
					img {
						object-position: left;
					}
				}
			}
		}
		// .banners__item_big-banner
		&_big-banner {
			grid-row: span 2;
			.item-banners__title {
				font-weight: 600;
				font-size: 96px;
				line-height: 1.15;
				text-transform: uppercase;
				color: #131313;
				@media (max-width: 1475px) {
					& {
						font-size: 80px;
					}
				}
				@media (max-width: 1275px) {
					& {
						font-size: 60px;
					}
				}
				@media (max-width: 1185px) {
					& {
						font-size: 48px;
					}
				}
				@media (max-width: 390px) {
					& {
						font-size: 28px;
					}
				}
			}
			.item-banners__content {
				flex-direction: column;
				justify-content: flex-end;
				height: 100%;
				padding: 20px 0 11.147186% 9.307359%;
				// 46.536797%; /* 430/924 */
				// 11.147186%; /* 103/924 */
				// 9.307359%; /* 86/924 */
				@media (max-width: 1635px) {
					& {
						padding-left: 30px;
					}
				}
				@media (max-width: 1200px) {
					& {
						max-width: 200px;
					}
				}
				@media (max-width: 820px) {
					& {
						padding-left: 12px;
					}
				}
				@media (max-width: 746px) {
					& {
						padding-left: 20px;
					}
				}
				@media (max-width: 390px) {
					& {
						max-width: 150px;
					}
				}
				.item-banners__background {
					img {
						object-position: right;
					}
				}
			}
		}
		// .banners__item_left-text
		&_left-text {
			.item-banners__content {
				padding: 11.904762% 0 12.445887% 11.904762%;
				// 11.904762%; /* 110/924 */
				// 10.17316%; /* 94/924 */
				@media (max-width: 1475px) {
					& {
						padding-left: 30px;
					}
				}
				@media (max-width: 1300px) {
					& {
						padding-left: 15px;
					}
				}
				.item-banners__background {
					img {
						object-position: right;
					}
				}
			}
		}
	}
	.banners__item_right-text .item-banners__background img {
		transform-origin: right;
	}
	@media (any-hover: hover) {
		.item-banners:hover .item-banners__background img {
			transform: scale(1.02);
		}
	}
}
.catalog {
	// .catalog__container
	&__container {
		display: grid;
		grid-template-columns: 394px 1fr;
		@media (max-width: 1450px) {
			& {
				grid-template-columns: 250px 1fr;
			}
		}
		@media (max-width: 991.98px) {
			& {
				display: block;
			}
		}
	}

	// .catalog__sidebar
	&__sidebar {
		border-right: 1px solid #c4c4c4;
		@media (max-width: 991.98px) {
			& {
				display: none;
			}
		}
	}
	// .catalog__main-part
	&__main-part {
		display: flex;
		flex-direction: column;
		row-gap: 63px;
		padding-left: 30px;
		@media (max-width: 991.98px) {
			& {
				padding-left: 0px;
				row-gap: 30px;
			}
		}
		@media (max-width: 630px) {
			& {
				row-gap: 15px;
			}
		}
	}
	// .catalog__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
		gap: 48px 26px;
		@media (max-width: 991.98px) {
			& {
				gap: 15px;
				grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
			}
		}
		@media (max-width: 767.98px) {
			& {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		@media (max-width: 580px) {
			& {
				gap: 15px 8px;
			}
		}
		@media (max-width: 460px) {
			& {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
	// .catalog__item
	&__item {
	}
	// .catalog__button
	&__button {
	}
}
.sidebar-catalog {
	// .sidebar-catalog__title
	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 1.5;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
	// .sidebar-catalog__form
	&__form {
	}
}
.form-sidebar {
	// .form-sidebar__item
	&__item {
		position: relative;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	// .form-sidebar__input
	&__input {
		position: absolute;
		top: 0;
		left: 0;
		height: 0%;
		width: 0%;
		opacity: 0;
		&:focus-visible + .form-sidebar__label {
			outline: 1px solid #000;
		}
		&:checked + .form-sidebar__label {
			color: #000000;
		}
		&:checked + .form-sidebar__label::before {
			border: 1px solid #000;
			background: url(../img/icons/check.svg) 50% no-repeat, #000;
		}
	}
	// .form-sidebar__label
	&__label {
		font-family: "Roboto";
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;
		text-transform: uppercase;
		color: #3f3f3f;
		@media (any-hover: hover) {
			& {
				cursor: pointer;
			}
			&:hover::before {
				border: 1px solid #3f3f3f;
			}
		}
		&::before {
			content: "";
			display: inline-block;
			width: 10px;
			height: 10px;
			border: 1px solid #828282;
			margin-right: 10px;
			transition: background 300ms;
		}
	}
}
.item-card {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	@media (any-hover: hover) {
		&:hover &__image img {
			transform: scale(1.05);
		}
		&:hover &__title {
			color: #eb5757;
		}
	}
	@media (max-width: 767.98px) {
		& {
			row-gap: 4px;
		}
	}
	// .item-card__image
	&__image {
		position: relative;
		padding-top: 130.813953%; /* 450/344 */
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			transform: scale(1);
			transition: transform 800ms;
		}
	}
	// .item-card__sale-label
	&__sale-label {
		position: absolute;
		top: 15px;
		left: 0;
		background-color: #000;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;
		color: #fff;
		padding: 0 5px;
	}
	// .item-card__body
	&__body {
		flex-grow: 1;
	}
	// .item-card__category
	&__category {
		font-family: "Oswald";
		font-weight: 600;
		font-size: 12px;
		line-height: 1.5;
		text-transform: uppercase;
		color: #bdbdbd;
	}
	// .item-card__title
	&__title {
		font-weight: 300;
		font-size: 18px;
		line-height: 1.5;
		color: #000000;
		transition: color 300ms;
	}
	// .item-card__prices
	&__prices {
		display: flex;
		column-gap: 15px;
		align-items: center;
	}
	// .item-card__current-price
	&__current-price {
		font-weight: 500;
		font-size: 22px;
		line-height: 1.2;
		text-transform: uppercase;
		color: #000000;
		transition: color 300ms;
		@media (any-hover: hover) {
			&:hover {
				color: #eb5757;
			}
		}
		@media (max-width: 600px) {
			& {
				font-size: 20px;
			}
		}
	}
	// .item-card__old-price
	&__old-price {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.5;
		text-transform: uppercase;
		color: #828282;
		text-decoration: line-through;
	}
	// .item-card_with-sale
	// catalog__item item-card item-card_with-sale
	&_with-sale {
		.item-card__current-price {
			color: #eb5757;
		}
	}
}
.divider {
	// .divider__container
	&__container {
		overflow: hidden;
	}
	// .divider__wrapper
	&__wrapper {
		height: 100%;
		position: relative;
		padding: 77px 0 78px 269px;
		@media (max-width: 1580px) {
			& {
				padding: 60px 0 60px 100px;
			}
		}
		@media (max-width: 1270px) {
			& {
				padding: 50px 5px 50px 50px;
			}
		}
		@media (max-width: 991.98px) {
			& {
				padding: 50px 5px 50px 20px;
			}
		}
		@media (max-width: 909px) {
			& {
				padding: 20px 5px 20px 20px;
			}
		}
		@media (max-width: 607px) {
			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-color: rgba(221, 235, 241, 0.7);
			}
		}
	}
	// .divider__body
	&__body {
		max-width: 639px;
		position: relative;
		z-index: 1;
		// background-color: rgba($color: #ddebf1, $alpha: 0.4);
		& > *:not(:last-child) {
			margin-bottom: 20px;
		}
		@media (max-width: 1200px) {
			& {
				max-width: 50%;
			}
		}
		@media (max-width: 607px) {
			& {
				max-width: 100%;
			}
		}
	}
	// .divider__title
	&__title {
		position: relative;
		font-weight: 500;
		font-size: 56px;
		@media (max-width: 1250px) {
			& {
				font-size: 36px;
			}
		}
		@media (max-width: 991.98px) {
			& {
				font-size: 28px;
			}
		}
		@media (max-width: 720px) {
			& {
				font-size: 22px;
			}
		}
		line-height: 1.29;
		text-transform: uppercase;
		padding-top: 19px;
		padding-right: 57px;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			height: 2px;
			width: 602px;
			background-color: #000;
		}
		&::after {
			height: 100px;
			width: 2px;
		}
		&:not(:last-child) {
			margin-bottom: 17px;
		}
		@media (max-width: 820px) {
			& {
				&:not(:last-child) {
					margin-bottom: 7px;
				}
			}
		}
		@media (max-width: 1200px) {
			& {
				&::before {
					width: 90%;
				}
				&::after {
					height: 90%;
				}
			}
		}
		@media (max-width: 991.98px) {
			& {
				padding-top: 0px;
				padding-right: 0px;
				&::before,
				&::after {
					display: none;
				}
			}
		}
	}
	// .divider__text
	&__text {
		font-family: "Roboto", sans-serif;
		font-size: 25px;
		line-height: 1.48;
		letter-spacing: 0.01em;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		@media (max-width: 750px) {
			& {
				&:not(:last-child) {
					margin-bottom: 12px;
				}
			}
		}
		@media (max-width: 1250px) {
			& {
				font-size: 22px;
			}
		}
		@media (max-width: 991.98px) {
			& {
				font-size: 18px;
			}
		}
		@media (max-width: 720px) {
			& {
				font-size: 16px;
			}
		}
	}
	// .divider__link-button
	&__link-button {
	}
	// .divider__background
	&__background {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding-top: 24.475891%;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: right;
			transition: transform 800ms;
			transform-origin: left;
			@media (any-hover: hover) {
				.divider__wrapper:hover & {
					transform: scale(1.02);
				}
			}
		}
	}
}
.products {
	// .products__container
	&__container {
		@media (max-width: 767.98px) {
			& {
				display: flex;
				flex-direction: column;
			}
		}
	}
	// .products__header
	&__header {
		display: flex;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 26px;
			@media (max-width: 767.98px) {
				& {
					margin-bottom: 10px;
				}
			}
		}
	}
	// .products__title
	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 1.5;
	}
	// .products__buttons
	&__buttons {
		display: flex;
		column-gap: 4px;
		@media (max-width: 767.98px) {
			& {
				display: none;
			}
		}
	}
	// .products__button
	&__button {
		border: 2px solid #c4c4c4;
		transition: border-color 300ms;
		@media (any-hover: hover) {
			&:hover {
				border-color: #eb5757;
			}
		}
		height: 40px;
		width: 40px;
		background: url(../img/icons/arrow.svg) 50% no-repeat;
		// .products__button_left
		&_left {
		}
		// .products__button_right
		&_right {
			transform: rotate(180deg);
		}
	}
	// .products__items
	&__items {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		gap: 15px 30px;
		@media (max-width: 767.98px) {
			& {
				gap: 20px 15px;
				grid-template-columns: repeat(2, 1fr);
			}
		}
		@media (max-width: 480px) {
			& {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
	// .products__item
	&__item {
	}
	&__load-button {
		display: none;
		@media (max-width: 767.98px) {
			& {
				display: block;
			}
		}
	}
}
.explore {
	@media (max-width: 750px) {
		& {
			overflow: hidden;
		}
	}
	// .explore__container
	&__container {
		position: relative;
		display: grid;
		grid-template-columns: 55.555556% 1fr; /* 1060/1908 */
		gap: 0 100px;
		@media (max-width: 1250px) {
			& {
				gap: 60px;
			}
		}
		@media (max-width: 900px) {
			& {
				gap: 25px;
			}
		}
		@media (max-width: 750px) {
			& {
				grid-template-columns: 1fr;
				min-height: 200px;
			}
		}
	}
	// .explore__image
	&__image {
		position: relative;
		padding-top: 34.245283%; /* 363/1060 */
		overflow: hidden;
		@media (max-width: 750px) {
			& {
				padding-top: 78.26087%; /* 252/322 */
			}
		}
		@media (max-width: 750px) {
			& {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: transform 800ms;
			transform-origin: right;
			@media (any-hover: hover) {
				.explore:hover & {
					transform: scale(1.02);
				}
			}
			@media (max-width: 750px) {
				& {
					padding: 0 15px;
				}
			}
		}
	}
	.explore__wrapper {
		@media (max-width: 750px) {
			& {
				padding: 31.36646% 3.726708% 3.726708% 3.726708%;
				// 31.36646% /* 101/322 */
				// 3.726708% /* 12/322 */
			}
		}
	}
	// .explore__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: 640px;
		@media (max-width: 750px) {
			& {
				position: relative;
				z-index: 2;
				border: 2px solid #c4c4c4;
				background: #ffffff;
				text-align: center;
				align-items: center;
				padding: 5.970149% 7.462687% 4.850746%;
				// 5.970149%; /* 16/268 */ top
				// 7.462687%; /* 20/268 */ left/right
				// 4.850746%; /* 13/268 */ bottom
				@media (max-width: 490px) {
					& {
						padding: 7px 5px 5px;
					}
				}
			}
		}
	}
	// .explore__title
	&__title {
		&:not(:last-child) {
			margin-bottom: 34px;
		}
		font-weight: 500;
		font-size: 56px;
		line-height: 1.29;
		text-transform: uppercase;
		position: relative;
		padding-top: 21px;
		padding-right: 46px;
		@media (max-width: 1100px) {
			& {
				padding-right: 25px;
			}
		}
		@media (max-width: 860px) {
			& {
				font-size: 36px;
			}
		}
		@media (max-width: 750px) {
			& {
				padding-right: 0;
				padding-top: 0;
				font-size: 24px;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}
		@media (max-width: 490px) {
			& {
				font-size: 20px;
				&:not(:last-child) {
					margin-bottom: 5px;
				}
			}
		}
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 85%;
			height: 2px;
			background-color: #000;
			@media (max-width: 750px) {
				& {
					display: none;
				}
			}
		}
		&::after {
			height: 85%;
			width: 2px;
		}
	}
	// .explore__text
	&__text {
		&:not(:last-child) {
			margin-bottom: 24px;
		}
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		font-size: 25px;
		line-height: 1.48;
		letter-spacing: 0.01em;
		@media (max-width: 700px) {
			& {
				font-size: 16px;
				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}
		@media (max-width: 490px) {
			& {
				&:not(:last-child) {
					margin-bottom: 8px;
				}
			}
		}
	}
	// .explore__button
	&__button {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
.blog {
	padding: 46px 0;
	@media (max-width: 991.98px) {
		& {
			padding: 25px 0px;
		}
	}
	@media (max-width: 680px) {
		& {
			padding: 20px 0px;
		}
	}
	background-color: #f8f9fb;
	// .blog__container
	&__container {
	}
	// .blog__title
	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 1.5;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: 991.98px) {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
		@media (max-width: 680px) {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	// .blog__articles
	&__articles {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 15px 30px;
		@media (max-width: 1550px) {
			& {
				gap: 15px 15px;
			}
		}
		@media (max-width: 1150px) {
			& {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		@media (max-width: 640px) {
			& {
				gap: 10px 10px;
			}
		}
		@media (max-width: 600px) {
			& {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
	// .blog__article
	&__article {
		background-color: #ffffff;
		display: flex;
		row-gap: 70px;
		flex-direction: column;
		padding: 25px 25px 15px 25px;
		@media (max-width: 1670px) {
			& {
				row-gap: 50px;
			}
		}
		@media (max-width: 1400px) {
			& {
				padding: 25px 15px 15px 15px;
			}
		}
		@media (max-width: 1150px) {
			& {
				padding-left: 25px;
				padding-right: 25px;
			}
		}
		@media (max-width: 767.98px) {
			& {
				padding: 10px 15px 15px 10px;
				row-gap: 20px;
			}
		}
	}
}
.article-blog {
	// .article-blog__body
	&__body {
		flex-grow: 1;
	}
	// .article-blog__category
	&__category {
		display: inline-block;
		font-weight: 600;
		font-size: 18px;
		line-height: 1.5;
		text-transform: uppercase;
		color: #bdbdbd;
		transition: color 300ms;
		@media (any-hover: hover) {
			&:hover {
				color: #eb5757;
			}
		}
		&:not(:last-child) {
			margin-bottom: 21px;
		}
		@media (max-width: 767.98px) {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	// .article-blog__title
	&__title {
		display: inline-block;
		font-weight: 400;
		font-size: 26px;
		line-height: 1.5;
		text-transform: capitalize;
		&:not(:last-child) {
			margin-bottom: 32px;
		}
		@media (max-width: 1400px) {
			& {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
		@media (max-width: 710px) {
			& {
				font-size: 24px;
			}
			& {
				&:not(:last-child) {
					margin-bottom: 13px;
				}
			}
		}
		transition: color 300ms;
		@media (any-hover: hover) {
			&:hover {
				color: #eb5757;
			}
		}
	}
	// .article-blog__text
	&__text {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.01em;
	}
	// .article-blog__footer
	&__footer {
		border-top: 3px solid #000;
		padding-top: 8px;
	}
	// .article-blog__author
	&__author {
		display: inline-block;
		font-weight: 300;
		font-size: 13px;
		line-height: 1.5;
		color: #4f4f4f;
		transition: color 300ms;
		@media (any-hover: hover) {
			&:hover {
				color: #eb5757;
			}
		}
	}
}
